.content-payment{
  padding-top: 3rem;
}

.payment-left-title{
  font-family: 'Josefin sans', sans-serif;
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 1rem;
}

.input-payment{
  padding-bottom: 0.75rem;
}

.input-note{
  font-family: 'Josefin sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

/* CSS */
input::placeholder {
  font-family: 'Josefin sans', sans-serif;
  font-weight: bold;
}

.button-submit{
  color: white;
  background-color: black;
  font-family: 'Josefin sans', sans-serif;
  font-weight: 700;
  margin-top: 2rem;
  margin-top: 2rem !important;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.button-submit:hover{
  color: white;
  background-color: #494949;
}

.name-option {
  font-family: 'Josefin sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #8e8e8e; 
  transition: color 0.3s ease; 
}

.detail-option {
  font-family: 'Josefin sans', sans-serif;
  font-size: 14px;
  color: #8e8e8e;
  transition: color 0.3s ease; 
}


.payment-option:hover .name-option,
.payment-option:hover .detail-option {
  color: #000;
}


.payment-option.selected .name-option,
.payment-option.selected .detail-option {
  color: #000;
}

.checkbox-circle {
  width: 20px;
  height: 20px;
  border: 2px solid rgb(209, 213, 219);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: relative;
  transition: border-color 0.3s, background-color 0.3s;
}

/* Hover vào payment-option */
.payment-option:hover {
  border: 1px solid #2f5acf; 
}

/* Hover vào payment-option, áp dụng cho checkbox-circle */
.payment-option:hover .checkbox-circle {
  border: 1px solid #2f5acf;
}

/* Selected payment-option */
.payment-option.selected {
  border: 1px solid #2f5acf;
}

.payment-option.selected .checkbox-circle {
  border: 1px solid #2f5acf;
}

/* Checked checkbox-circle */
input[type="checkbox"].hidden:checked + .checkbox-circle::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #2f5acf;
  border: 1px solid #2f5acf;
  border-radius: 50%;
  position: absolute;
}

.payment-option {
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.payment-option input[type="checkbox"] {
  margin-right: 8px;
}

.payment-name {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
  padding: 1.5rem 0;
}

/* thông tin sản phẩm */
.img-checkout{
  width: 15%;
  height: 20%;
  padding: 10px 0 10px 0;
  box-shadow: 0px 0px 2px #c2c0c0;
}

.name-option-payment{
  font-family: 'Josefin sans', sans-serif;
  font-size: 32px;
  font-weight: bold;
  padding-top: 1rem;
}

.subtotal, .total {
  display: flex;
  justify-content: space-between;
  font-family: 'Josefin sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

