html {
    scrollbar-width: thin; 
}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: #525252;  
    border-radius: 10px; 
}

::-webkit-scrollbar-track {
    background-color: #cdcdcd;  
}

/* Cung cấp thanh cuộn cho các phần tử chứa nội dung */
body, .app-container {
    /* height: 100vh; Đảm bảo chiều cao của trang đầy đủ
    overflow-y: auto; Đảm bảo thanh cuộn chỉ xuất hiện khi cần */
}
